
    <header>
    <h1>Nona Poole</h1>
    <div class = "navigation">
        <a href = "about.html">About</a>
        <div class = "subnavigation">
            <button class = "subnavbutton">Current Listings </button>
            <a href = "currjewel.html">Jewelry</a>
            <a href = "currclothes.html">Clothes</a>
        </div>
        <div class = "subnavigation">
            <button class = "subnavbutton">Previous Listings </button>
            <a href = "oldjewel.html">Jewelry</a>
            <a href = "oldclothes.html">Clothes</a>
        </div>
        <a href = "contact.html">Contact</a>
        <a href = "./">Homepage</a>
    </div>
    </header>