body 
{
  font-family: Tahoma, sans-serif;
  color: #ffd000;
  background-color: #b90009;
}

header
{
  font-family: Impact, serif;
  outline-color:black;
  outline-width: 4px;
  text-align: center;
  color: #ffd000;
}