body 
{
  font-family: Tahoma, sans-serif;
  color: #ffd000;
  background-color: #b90009;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
header
{
  font-family: Impact, serif;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 3px;
  text-align: center;
  color: #ffd000;
}
footer {
    text-align: center;
}