body 
{
  font-family: Tahoma, sans-serif;
  color: #ffd000;
  background-color: #b90009;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
header
{
  font-family: Impact, serif;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 0.5px;
  text-align: center;
  color: #ffd000;
}
td {
  border: black;
}
table tr:nth-child(odd){
  background-color: crimson;
  color: #ffd000;
}
table tr:nth-child(even){
  background-color:rgb(255, 0, 0);
  color: #ffd000;
}
form {
  text-align: center;
  display: block;
  background-color:#ffd000;
  color: red;
  border: 2px black;
  border-radius: 3px;
  font-family: Tahoma, sans-serif;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
}
footer {
    text-align: center;
}

a {
  color: greenyellow;
  text-decoration: none;
}