body 
{
  font-family: Tahoma, sans-serif;
  color: aquamarine;
  background-color: rgb(255, 14, 135);
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
header
{
  font-family: Impact, serif;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 0.5px;
  text-align: center;
  color: aquamarine;
}
footer {
    text-align: center;
}

.navbar{
  overflow: hidden;
  background-color:rgb(27, 27, 27);
}
.navbar a{
  float: left;
  font-size: 15px;
  color: aquamarine;
  text-align: center;
}
.subnav{
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 15px;
  background-color: aquamarine;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:purple;
}

.subnav-content {
  float: left;
  text-decoration: none;
  color: aquamarine;
}

.subnav:hover .subnav-content {
  display: block;
}