body 
{
  font-family: Tahoma, sans-serif;
  color: aquamarine;
  background-color: lightpink;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
header
{
  font-family: Impact, serif;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 0.5px;
  text-align: center;
  color: aquamarine;
}
footer {
    text-align: center;
}