body 
{
  font-family: Tahoma, sans-serif;
  color: royalblue;
  background-color: magenta;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
header
{
  font-family: Impact, serif;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 0.5px;
  text-align: center;
  color: royalblue;
}
footer {
    text-align: center;
}

.navbar{
  overflow: hidden;
}

.subnav{
  float: left;
  overflow: hidden;
}