
    <footer>
        <a href = "/">UNCC Home | </a><a href = "https://github.com/wpoole4/wpoole4.github.io">Github Repo | </a>
        <a href = "https://wpoole4.github.io/itis3135/">Github.io | </a><a href = "https://www.freecodecamp.org/wpoole4">FreeCodeCamp | </a>
        <a href = "https://www.linkedin.com/in/will-poole-992a5722b">Linkedin</a> <br>
        Designed by <a href = "poole-inc.com/">Poole Inc. &copy;2022.</a> <br>
        <a href="https://validator.w3.org/check?uri=referer" id = "validation_link_html">
            <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML.">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css">
            <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS.">
        </a>
        <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
         </script>
    </footer>