
    <header>
    <h1>William L Poole | ITIS 3135 | White Parrot</h1>
    <a href = "introduction.html">Introduction | </a><a href= "contract.html">Contract | </a><a href = "tables.html">Tables | </a><a href = "forms.html">Forms | </a><a href = "website_evaluations.html">Website Eval | </a><a href = "brand-white-parrot.html">Brand | </a><a href = "stuff/c$rAp WebPAG.htm">CRAP Page | </a><a href = "firstscripts.html">FirstScripts | </a><a href = "polygon.html">Polygons | </a><a href = "calculator_try.html">Calc Try | </a><a href = "calculator_fcc.html">Calc Final | </a><a href = "arrays.html">Arrays | </a><a href = "projectdesign.html">Proj Design | </a><a href = "./">Homepage | </a><a href ="/">UNCC Home</a>
    </header>